.subscribe-button {
  background-color: rgba(207, 15, 15, 0.95);
  color: white;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
}
.subscribe-button:hover {
  opacity: 0.85;
}
.subscribe-button:active {
  opacity: 0.5;
}
.join-button {
  background-color: white;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  border-color: rgb(0, 130, 195);
  color:  rgb(0, 130, 195);
  border-radius: 3px;
  cursor: pointer;
  border: solid;
  margin-right: 8px;
  transition: background-color 0.15s, color 0.15s;
}
.join-button:hover {
  background-color:  rgb(0, 130, 195);
  color: white;
}
.join-button:active {
  opacity: 0.7;
}
.tweet-button{
  background-color:  rgb(5, 161, 239);
  border: none;
  padding: 10px;
  padding-left: 17px;
  padding-right: 17px;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;

  transition: box-shadow 0.15s;

  
}
.tweet-button:active {
  opacity: 0.7;
}
.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
